  <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="~/img/fav.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Middle Office</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">

            </div>
            <div class="info">
                <a href="#" class="d-block">Hi!  @User.Identity.Name</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Html.IsSelected(controllers: "Home", actions: "Index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>首頁</p>
                    </a>
                </li>
                <li class="nav-item @Html.IsSelected(controllers: "Sso", actions: "Project,Role,User,UserRole",cssClass:"menu-open")">
                    <a href="#" class="nav-link @Html.IsSelected(controllers: "Sso", actions: "Project,Role,User,UserRole")">
                        <i class="nav-icon fas fa-users-cog"></i>
                        <p>
                            SSO
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item ">
                            <a asp-controller="Sso" asp-action="User" class="nav-link @Html.IsSelected(controllers: "Sso", actions: "User,UserRole")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>使用者列表</p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a asp-controller="Sso" asp-action="Project" class="nav-link @Html.IsSelected(controllers: "Sso", actions: "Project,Role")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>專案列表</p>
                            </a>
                        </li>
                    </ul>
                </li>
               

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>