@using MiddleOffice.Entities.ViewModels.Sso
@model MiddleOffice.Entities.Models.Sso.Project

@{
    ViewData["Title"] = $"專案設定({Model.Name})";
    var roleModalID = "role-modal";
    var roleAreaModalID = "role-modal-label";
    var permissionModalID = "permission-modal";
    var permissionAreaModalID = "permission-modal-label";
}

@section css{
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">首頁</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Sso" asp-action="Project">專案列表</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">角色列表</h3>
                    <div class="card-tools">
                        <div class="btn-group">
                            <a data-toggle="modal" asp-controller="Sso" asp-action="CreateRole" asp-route-projectid="@Model.Id" data-target="#@roleModalID" class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i>  新增
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="role_table" class="table table-bordered table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>@(Html.GetDisplayName<RoleListVM, string>(x => x.Name))</th>
                                            <th>@(Html.GetDisplayName<RoleListVM, string>(x => x.Description))</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">權限列表</h3>
                    <div class="card-tools">
                        <div class="btn-group">
                            <a data-toggle="modal" asp-controller="Sso" asp-action="CreatePermission" asp-route-projectid="@Model.Id" data-target="#@permissionModalID" class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i>  新增
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="permission_table" class="table table-bordered table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>@(Html.GetDisplayName<PermissionListVM, string>(x => x.Name))</th>
                                            <th>@(Html.GetDisplayName<PermissionListVM, string>(x => x.CandidateKey))</th>
                                            <th>@(Html.GetDisplayName<PermissionListVM, string>(x => x.Description))</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_Modal", new Modal
{
    ID = roleModalID,
    AreaLabelID = roleAreaModalID,
    Size = ModalSize.ExtraLarge
})

@await Html.PartialAsync("_Modal", new Modal
{
    ID = permissionModalID,
    AreaLabelID = permissionAreaModalID,
    Size = ModalSize.Defalut
})

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ModalScriptsInit", roleModalID);}
    @{await Html.RenderPartialAsync("_ModalScriptsInit", permissionModalID);}
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        $(function () {

            var roleResultTable = $("#role_table").DataTable({
                language: {
                    url: "@Url.Content("~/plugins/datatables/i18n/Chinese-traditional.json")"
                },
                responsive: true,
                lengthMenu: [[30, 50, 100], [30, 50, 100]],
                filter: false,
                ordering:false,
                processing: true,
                serverSide: true,
                ajax: {
                    url: "@Url.Action("GetRoleAll", "Sso")",
                    type: "POST",
                    dataType: "json",
                    async: true,
                    data: function (input) {
                        input.ProjectId = '@Model.Id';
                    }
                },
                columns: [
                    { data: "Name" },
                    { data: "Description" },
                    {
                        render: function (data, type, row) {
                            var html = '<a href="/Sso/RoleDetail?id=' + row.Id + '" class="btn btn-sm btn-info mr-2" data-toggle="modal" data-target="#@roleModalID">檢視</a>';
                            html += '<a href="/Sso/EditRole?id=' + row.Id + '" class="btn btn-sm btn-warning mr-2" data-toggle="modal" data-target="#@roleModalID">編輯</a>';
                            html += '<a href="/Sso/DeleteRole?id=' + row.Id + '&projectid=@Model.Id" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#@roleModalID">刪除</a>';

                            return html;
                        }
                    }
                ]
            });


            var permissionResultTable = $("#permission_table").DataTable({
                language: {
                    url: "@Url.Content("~/plugins/datatables/i18n/Chinese-traditional.json")"
                },
                responsive: true,
                lengthMenu: [[30, 50, 100], [30, 50, 100]],
                filter: false,
                ordering:false,
                processing: true,
                serverSide: true,
                ajax: {
                    url: "@Url.Action("GetPermissionAll", "Sso")",
                    type: "POST",
                    dataType: "json",
                    async: true,
                    data: function (input) {
                        input.ProjectId = '@Model.Id';
                    }
                },
                columns: [
                    { data: "Name" },
                    { data: "CandidateKey" },
                    { data: "Description" },
                    {
                        render: function (data, type, row) {
                            var html = '<a href="/Sso/PermissionDetail?id=' + row.Id + '" class="btn btn-sm btn-info mr-2" data-toggle="modal" data-target="#@permissionModalID">檢視</a>';
                            html += '<a href="/Sso/EditPermission?id=' + row.Id + '" class="btn btn-sm btn-warning mr-2" data-toggle="modal" data-target="#@permissionModalID">編輯</a>';
                            html += '<a href="/Sso/DeletePermission?id=' + row.Id + '&projectid=@Model.Id" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#@permissionModalID">刪除</a>';

                            return html;
                        }
                    }
                ]
            });
        });

    </script>
}
